<!DOCTYPE html>
<html>
<head>
  <title>IReviewed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% flash.each do |key, value| %>
<<<<<<< HEAD
  <p id='<%= key %>'><%= value %></p>
<% end %>

=======
	<p id='<%= key %>'><%= value %></p>
<% end %>
>>>>>>> origin/master
<%= yield %>

</body>
</html>
